/* Change the background color of the active page button */
.ant-pagination-item-active {
    background-color: #ffffff;
  }
  
  /* Increase the font size of the page number buttons */
  .ant-pagination-item a {
    font-size: 18px;
    color: #fff;
  }

  .ant-pagination .ant-pagination-item-active a {
    color: white !important;
  }
  
  /* Change the color of the previous and next buttons */
  .ant-pagination-prev,
  .ant-pagination-next {
    color: #f7f7f7;
  }

  .add-new-article-button {
    position: fixed;
    bottom: 5%;
    right: 20px;
    padding: 30px;
    background-color: #0e1937;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .add-new-article-button:hover {
    transform: scale(1.1);
  }

  :where(.css-dev-only-do-not-override-i9o6s8).ant-btn-default:not(:disabled):hover {
    background-color: #0e1937;
    color: #fff;
    border-color: #fff;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  }